<div>
  <h2>Login</h2>
  <form class="loginForm" id="loginForm">
    <div></div>
    <label>Correo electrónico</label>
    <input name="email" />
    <label>Contraseña</label>
    <input type="password" name="password" />
    <button>Login</button>
  </form>
  <p>¿Todavia no tienes una cuenta?</p>
  <a href="/session/register">Registrarse</a>

  <br />

  <a href="/api/session/github">entrar con Github</a>
</div>

<script src="/login.js"></script>