<div>
  <h2>Recover</h2>
  <form class="recoverForm" id="recoverForm">
    <div></div>
    <label>Correo electrónico</label>
    <input type="email" name="email" />
    <label>Nueva contraseña</label>
    <input type="password" name="password" />
    <button>Cambiar contraseña</button>
  </form>
  <p>¿Ya tienes una cuenta?</p>
  <a href="/session/login">Login</a>
</div>

<script src="/recover.js"></script>